{% extends 'music/base.html' %}
{% block title %}Details of Album#{{ album.id }}{% endblock %}

{% block body %}

    <img src="{{ album.album_logo }}" alt="{{ album.album_title }}" style="width:300px ; height:300px;">

    <h2>{{ album.album_title }}</h2>
    <h3>{{ album.artist }}</h3>

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    {#<ul>#}
    {#    {% for song in album.song_set.all %}#}
    {#    <li>{{ song.song_title }} - {{ song.file_type }}</li>#}
    {#    {% endfor %}#}
    {#</ul>#}

        {% for song in album.song_set.all %}
            <label for="song{{ forloop.counter }}">
                {{ song.song_title }}
            </label> <br>
        {% endfor %}

{#    <form action="{% url 'music:favorite' album.id %}" method="post">#}
{#        {% csrf_token %}#}
{#        {% for song in album.song_set.all %}#}
{#            <input type="radio" name="song" id="song{{ forloop.counter }}" value="{{ song.id }}">#}
{#            <label for="song{{ forloop.counter }}">#}
{#                {{ song.song_title }}#}
{#                {% if song.is_favorite %}#}
{#                    <img src="http://pngimg.com/uploads/star/star_PNG1597.png" alt="Favourited" style="width: 20px; height: 20px;">#}
{#                {% endif %}#}
{#            </label> <br>#}
{#        {% endfor %}#}
{#        <input type="submit" value="Favorite">#}
{##}
{#    </form>#}
{% endblock %}